<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tasks.css">
    <link rel="shortcut icon" href="/img/logo.svg" type="image/x-icon">
    <title>Task Manager</title>
  </head>
  <body>
    <nav>
      <div class="logo"><a href="/">Pixie</a></div>
      <div class="menu">
        <a href="/course">Course</a>
        <a href="/tasks" class="current">Tasks</a>
        <a href="/dashboard">Dashboard</a>
      </div>
    </nav>
    <div class="wrapper">
      <div class="taskContent">
        <div class="header">
          <p class="heading">Your task</p>
          <a href="/tasks/add"><div class="create">Create Task</div></a>
        </div>
          <h2>
            <%=task.title%>
          </h2>
            <p class="description">
              <%=task.description%>
            </p>
            <p class="description">
              <%=task.deadline%>
            </p>
        <div class="edit">
          <a class="update" data-doc="<%=task._id%>">Mark Complete</a>
          <a class="delete" data-doc="<%=task._id%>">Delete</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="logo"><a href="/">Pixie</a></div>
      <p>Copyright 2022</p>
    </footer>
      <script>
        const update = document.querySelector('a.update');
        update.addEventListener('click', (e) => {
          const endpoint = `/tasks/${del.dataset.doc}`;

          fetch(endpoint, {
            method: 'PUT'
          })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        });

        const del = document.querySelector('a.delete');
        del.addEventListener('click', (e) => {
          const endpoint = `/tasks/${del.dataset.doc}`;

          fetch(endpoint, {
            method: 'DELETE'
          })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err));
        })
      </script>
  </body>
</html>